html{
    scroll-behavior: smooth;
}

body {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(2) rotate(0)'><rect width='100%' height='100%' fill='%231a1a1a'/><path d='M10 60V30m10 0v30m10 0H0V30M50 0v30m-10 0V0M30 0h30v30M30 40h30m0 10H30m0-20h30v30H30zM0 10h30m0 10H0M0 0h30v30H0z' stroke='rgba(255,255,255,0.02)' stroke-width='1' fill='none'/></pattern></defs><rect width='100%' height='100%' fill='url(%23a)'/></svg>");
  color: white;
}

.navbar {
  background: #111116;
}



.hero {
  overflow: hidden;
}


.btn {
  background: #127A99;
  color: white;
}

.btn:hover {
  background-color: #1494b8;
  box-shadow: 0 0 10px rgba(18, 122, 153, 0.4);
  transition: all 0.3s ease;
  color: white;
}


.userTitle {
  color: #21B6A8;
}

p {
  color: white;
}

.hero .container .row>div:first-child {
  max-width: 600px;
}

footer {
  font-size: 0.9rem;
  background-color: #1e1e2f;
}

.hero img {
  max-width: 636px;
}


.card {
  max-width: 320px;
  margin: auto;
  height: 100%;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  min-height: 160px;
  max-height: 160px;
}

.card-text {
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  /* Compatibilidad futura (aunque no todos los navegadores lo usan) */
  line-clamp: 4;
}

.card.flex-shrink-0 {
  width: min(85vw, 320px);
}


.navbar-dark .navbar-nav .nav-link.active {
  color: #21B6A8;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
  color: #30c5b6;
  transition: 0.2s;
  font-weight: bold;
}



.techstack {
  background-color: #1e1e2f;
}

.projects {
  background-color: #171717;
}

.techstack h2, .projects h2{
  color: #21B6A8;
}

.tech-icons-bar {
  display: flex;
  flex-wrap: wrap; /* ✅ permite que bajen de línea en pantallas pequeñas */
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}


.tech-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  display: block;
  margin: auto;
  padding: 4px;
  transition: transform 0.3s ease;
  filter: grayscale(100%) brightness(1.2);
}


.tech-icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}